body{
    margin: 10px;
    padding: 4px;
    background-image: url("https://images.unsplash.com/photo-1681195035338-bbdea7af2bf3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=505&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-radius: 20px;
}
form{
    background-color: rgba(255, 255, 255, 65%) ;
    background-size:auto;
    padding: 20px; 
    border-radius: 20px;
    margin:50px;
    width:600px;
}
.flex{
    justify-content: center;
    display: flex;
}
p,label,h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    text-decoration: underline;
}
input[type=submit],input[type=radio]{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    align-content: center;
    margin: 10px;
    font-size: 25px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor:pointer;
}
.button{
    text-align: center;
}
input,fieldset {
    border-radius: 5px;
    border-color: rgba(3, 77, 1, 0.5) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255, 10%) ;
}
.name,.address,.contact,.rating{
    font-size: 17px;
    font-family: arial;
}
td{
    text-align: center;
}
th{
    text-align: left;
    font-weight: normal;
}
@media (max-width: 1024px){
    body {
        background-image: url("https://images.unsplash.com/photo-1613408181923-f058a1b0e00c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
    }
}